

header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: #01B0D3;
}



.logo {
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    user-select: none;
    color: white;
}

.links_hamburger {
    display: flex;
}

.menu {
    font-size: 35px;
    color: white;
    display: none;
}

.drop_box {
    position: sticky;
    z-index: 1;
    height: 100px;
    width: 100%;
    background-color: #01B0D3;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}



/* Responsive Part */

/* 992-1200 */
@media screen and (max-width: 1200px) {

}

/*768-992 */
@media screen and (max-width: 992px) {
    .logo {
        font-size: 25px;
    }
}


/*576-768 */
@media screen and (max-width: 768px) {
    .links {
        display: none;
    }
    .menu {
        display: inline;
    }
    .drop_box {
        display: flex;
    }
}


/*0-576 */
@media screen and (max-width: 576px) {

}

