
.container {
    /* width: 100%; */
    width: 270px;
    height: 100%;
    border: 1px solid black;
    padding: 15px;
    border: solid 2px #0093E9;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.random {
    margin-top: 25px;
}



/* Responsive Part */

/* 992-1200 */
@media screen and (max-width: 1200px) {

}

/*768-992 */
@media screen and (max-width: 992px) {
    .container {
        padding: 10px;
        width: 100%;
        margin-bottom: 20px; 
    }
    .title {
        font-size: 20px;
    }
    .random {
        margin-top: 15px;
    }
}


/*576-768 */
@media screen and (max-width: 768px) {
}


/*0-576 */
@media screen and (max-width: 576px) {

}