

.container {
    width: 100%;
    background-color: #1F2667;
    height: 100px;
    border-radius: 8px;
    margin-top: 25px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.code {
    color: rgba(185, 122, 87);
    font-weight: 500;
}

.first_atribute {
    color: rgb(156, 220 , 240);
    font-weight: 900;
}


/* Responsive Part */

/* 992-1200 */
@media screen and (max-width: 1200px) {
    .container {
        height: 70px;
    }
}

/*768-992 */
@media screen and (max-width: 992px) {

}


/*576-768 */
@media screen and (max-width: 768px) {
    .first_atribute {
        font-weight: 700;
    }
}


/*0-576 */
@media screen and (max-width: 576px) {

}